
global
    # Global settings go here

defaults
    mode                    tcp
    # Other default settings

frontend my_frontend_companion
    bind *:5000
    mode tcp
    default_backend my_backend_companion

backend my_backend_companion
    mode tcp
    balance leastconn
    server esp32s3-MNK-180 192.168.1.180:5000 check
    server esp32s3-MNK-171 192.168.1.171:5000 check

frontend my_frontend_mqtt
    bind *:6000
    mode tcp
    default_backend my_backend_mqtt

backend my_backend_mqtt
    mode tcp
    balance leastconn
    server esp32s3-D66908-184 192.168.1.184:5000 check
    server esp32s3-D66908-181 192.168.1.181:5000 check

